name: Comment listener
on:
  issue_comment:
    types: [created]

jobs:
  print-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Print comment
        run: echo ${{ github.event.comment.body }}
